$black: black;
$white: white;
$main-background: #161616;
$gray: #222;
$light-gray: rgba(255, 255, 255, 0.20);
$radio-default: #585858;
$radio-false: #E11B1B;
$radio-hover: #E2B30D;
$radio-right: #0BC834;
