@use 'src/styles/colors';
@use 'src/styles/mixins';

.heading {
  font-size: 18vw;
  line-height: 100%;
  margin-bottom: 50px;
}

.table {
  width: 70%;
  border-collapse: collapse;

  &__heading {
    border-bottom: 1px solid colors.$white;
    border-radius: 25px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  @include mixins.media-tablet-s {
    width: 100%;
  }
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
}

tbody:before {
  line-height: 1em;
  content: '.';
  color: transparent;
  display: block;
}

.name {
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
}

.score {
  font-size: 30px;
}
